@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Secular+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(43, 2, 43);
    color: white;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
}

nav ul {
    list-style-type: none;
}

.gameContainer {
    /* background-color: rgb(232, 151, 175); */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    position: relative;
}

.box {
    border: 2px solid black;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Secular One', sans-serif;
}

.box:hover {
    background-color: rgb(243, 205, 216);
}

.info {
    font-size: 25px;
}

.gameInfo {
    padding: 0 34px;
    font-weight: bold;
    font-family: 'Secular One', sans-serif;
}
.gameInfo h1 {
    font-size: 2.5rem;
}

.imgBox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    border-radius: 8px;
    cursor: pointer;
    margin: 0 23px;
    padding: 6px 14px;
    background-color: rgb(244, 199, 217);
    font-family: 'Nunito Sans', sans-serif;
}

#reset:hover {
    font-weight: bold;
    background-color: rgb(242, 205, 220);
}
.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: rgb(43, 2, 43);
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 700px) {
    .gameContainer {
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 34px;
    }

    .gameInfo h1 {
        font-size: 1.5rem;
    }

    .container {
        grid-template-columns: repeat(3, 16vw);
        grid-template-rows: repeat(3, 16vw);
    }
}